@font-face {
	font-family: "Standard";
	src: url("assets/fonts/PixelPurl.ttf") format("truetype");
	font-display: swap;
}

body {
	font-family: "Standard", sans-serif;
	text-align: center;
	background-color: #9999cc;
	color: #000000;
}

h1 {
	font-size: 96px;
}

p {
	font-size: 36px;
}

img {
	image-rendering: pixelated;
}

.clickable-cookie {
	width: 256px;
	cursor: pointer;
	transition: transform 0.1s;
}

.clickable-cookie:active {
	transform: scale(0.9);
}